.fx-crt-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;     
    background: repeating-linear-gradient(
        to bottom,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 1px,
        rgba(0,0,0,0) 1px,
        rgba(0,0,0,0) 2px
    );
    
    mix-blend-mode: multiply;
    animation: flicker 0.1s infinite;
}

@keyframes flicker {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 1; }
}

.fx-blinking {
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
  0%   { visibility: visible; }
  50%  { visibility: hidden; }
  100% { visibility: visible; }
}

/* CRT flash inside the game container */
.crt-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: white;
    opacity: 0;
    z-index: 999;
    transform-origin: center;
    overflow: hidden;
}

/* Triggered animation */
.crt-flash.active {
    animation: crtStartup 1s steps(6, start) infinite;
}

/* Flash animation */
@keyframes crtStartup {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    40% {
        opacity: 1;
        transform: scaleY(0.15);
    }
    60% {
        opacity: 1;
        transform: scaleY(0.02);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}