@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root {
    --resolution-width: 640px;
    --resolution-height: 480px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Pixelify Sans', sans-serif;
    color: #434454;
    
    width: 100vw;
    height: 100vh;
}

#menu-screen {
    width: var(--resolution-width);
    height: var(--resolution-height);
    background-color: #101013;
}

#menu-screen h1 {
    font-size: 5rem;
}

.game-container {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

/* CRT overlay covers the entire container */
.crt-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so it doesn't block clicks */
    background: repeating-linear-gradient(
        to bottom,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 1px,
        rgba(0,0,0,0) 1px,
        rgba(0,0,0,0) 2px
    );
    mix-blend-mode: multiply; /* optional for darkening effect */
    animation: flicker 0.1s infinite;
}

/* subtle flicker effect */
@keyframes flicker {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 1; }
}

.blinking-text {
    animation: blink 1s steps(1, start) infinite;
}

/* Animation */
@keyframes blink {
  0%   { visibility: visible; }
  50%  { visibility: hidden; }
  100% { visibility: visible; }
}
