@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root {
    --resolution-width: 640px;
    --resolution-height: 480px;
    --monitor-br: 50px;

    --monitor-color: #101013;
    --white-color: #434454;;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--white-color);
    
    width: 100vw;
    height: 100vh;
}

#game-container {
    width: var(--resolution-width);
    height: var(--resolution-height);
    background-color: var(--monitor-color);
    overflow: hidden;
    border-radius: var(--monitor-br);
    position: relative;
}

#game-container h1 {
    font-size: 5rem;
}


